<h1>Listagem de Contratos</h1>
<hr>
<div class="table">
    <table id="contratos"> {{!-- Id para manipular tabela --}}
        <thead>
            <th>Empresa Contratante</th>
            <th>Empresa Contratada</th>
            <th>Tipo</th>
            <th>Inicio da Vigência</th>
            <th>Data Inicio</th>
            <th>Data Fim</th>
            <th>Termino de Carência</th>
            <th>Valor</th>
            <th>Status</th>
            <th>Info</th>
            <th>Editar</th>
            <th>Deletar</th>
        </thead>
        <tbody>
            {{!-- Informações carregadas por Ajax no arquivo contratos.js --}}
        </tbody>
        <tfoot>
            <th>Empresa Contratante</th>
            <th>Empresa Contratada</th>
            <th>Tipo</th>
            <th>Inicio da Vigência</th>
            <th>Data Inicio</th>
            <th>Data Fim</th>
            <th>Termino de Carência</th>
            <th>Valor</th>
            <th>Status</th>
            <th>Info</th>
            <th>Editar</th>
            <th>Deletar</th>
        </tfoot>
    </table>
</div>