<h1>Listagem de Empresas</h1>
<hr>
<div class="table">
    <table id="empresas"> {{!-- Id para manipular tabela --}}
        <thead>
            <th>Cnpj</th>
            <th>Razão Social</th>
            <th>Endereço Completo</th>
            <th>Telefone</th>
            <th>Editar</th>
            <th>Deletar</th>
        </thead>
        <tbody>
            {{!-- Informações carregadas por Ajax no arquivo empresas.js --}}
        </tbody>
        <tfoot>
            <th>Cnpj</th>
            <th>Razão Social</th>
            <th>Endereço Completo</th>
            <th>Telefone</th>
            <th>Editar</th>
            <th>Deletar</th>
        </tfoot>
    </table>
</div>