{{!-- Vruuummm --}}
<div class="vrum">
    <img class="banner" src="/img/banner.png" alt="">
    <img class="carrinho" src="/img/carrinho.png" alt="carrinhodc">
    <div class="rua">
        <ul class="faixas">
            <li class="faixa"></li>
            <li class="faixa"></li>
            <li class="faixa"></li>
            <li class="faixa"></li>
            <li class="faixa"></li>
        </ul>
    </div>
</div>